dist
node_modules
.env
.env.docker
.env.development
.env.staging
.env.production
logs
.yarnrc.yml
.yarn
.yarn.lock
*lock.json
.serverless
.query.json
.vscode
dump.rdb
http
.build
public
.dockerignore
docker-compose.yml
Dockerfile
redis.env